@import "tailwindcss";

/* Global resets */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-slate-950 text-slate-900 dark:text-slate-50;
}
